{% extends 'pyfo/base.html' %}

{% block body_content %}
    <div class="container my-3">
        {# Question contents area #}
        <div>
            {% if question %}

                <h2>{{ question.subject }}</h2>
                <span> 작성 시각: {{ question.create_date }}</span>
                <br>
                <div class="card my-3">
                    <div class="card-body">
                        <div class="card-text" style="white-space: pre-line">
                            {{ question.content }}
                        </div>
                        <div class="d-flex justify-content-end">
                            {#   d-flex : 자기자신은 block, 자식은 in-line 으로 만들어준다   #}
                            {#   justif-content-? 자식요소들의 정렬 기준 #}
                            {#   : start, end, center, between(양쪽 요소를 좌우에 붙이고 안쪽 요소들을 균일한 간격으로 배치), around(전체요소를 균일한 간격으로 배치)   #}
                            {{ question.create_date }}
                        </div>
                    </div>
                </div>
            {% else %}
                <h3>No question number</h3>
            {% endif %}
        </div>

        {# Answer content area #}
        <div>
            <h5 class="border-bottom my-3 py-3">
                {{ question.answer_set.count }}개의 답변이 있습니다.
            </h5>
            {% for answer in question.answer_set.all %}
                <div class="card my-3">
                    <div class="card-body">
                        <div class="card-text" style="white-space: pre-line">
                            {{ answer.content }}
                        </div>
                        <div class="d-flex justify-content-end">
                            <div class="badge bg-light text-dark">
                                {{ answer.create_date }}
                            </div>
                        </div>

                    </div>

                </div>
            {% endfor %}


        </div>

        <hr>
        {# Reply contents area #}
        <div>
            <form action="{% url 'pyfo:answer_create' question.id %}" method="post" class="my-3">
                {% csrf_token %}
                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for field in form %}
                            {% if field.errors %}
                                <strong>{{ field.label }}</strong>
                                {{ field.errors }}
                                ( 내용은 비워둘 수 없습니다 )
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="form-floating">
                    <label for="content"></label>
                    <textarea name="content" id="content" class="form-control my-3" style="height: 10rem"></textarea>
                </div>
                <input type="submit" value="답변 등록" class="btn btn-primary">

            </form>
        </div>


        <p>
            <a href="{% url 'pyfo:index' %}">질문 리스트 페이지로 돌아가기</a>
        </p>

    </div>
{% endblock %}
