{% extends 'pyfo/base.html' %}

{% block body_content %}
    <div class="container">
        <h5 class="my-5 border-bottom pb-2">질문 등록</h5>
        <form method="post" class="my-3">
            {% csrf_token %}
            {#  Error handling code Start  #}
            {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    {% for field in form %}
                        {% if field.errors %}
                            <strong>{{ field.errors }}</strong>
                        {% endif %}

                    {% endfor %}
                </div>
            {% endif %}
            {#  Error handleing code End   #}

            {#  Question Create Form Start  #}
            <div class="form-group">
                <label for="subject">제목</label>
                <input
                        type="text"
                        class="form-control"
                        name="subject"
                        id="subject"
                        value="{{ form.subject.value|default_if_none:'' }}">
            </div>


            <div class="form-group">
                <label for="content">내용</label>
                <textarea
                        name="content"
                        id="content"
                        rows="10"
                        class="form-control"
                >
                    {{ form.content.value|default_if_none:'' }}

                </textarea>
            </div>
            <hr>
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">저장하기</button>
        </form>
    </div>
{% endblock %}